<!DOCTYPE html>
<html lang="es">
    <head>
    <title>MGGraph</title>
        {% load static %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>    
    <body>
        <h2 style="text-align: center;">MGGraph</h2>
        <div class="container">
            {% if messages %}
                {% for message in messages %}                    
                        <div style="text-align: center;">
                            <strong> {{message | safe}} </strong>
                        </div>
                {% endfor %}
            {% endif %}
            <!--Form-->
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br/> <br/> <br/> 

                <!--Name Input-->
                <div class="row">
                    <div class="input-field col l5 offset-l3">
                        <input id="experiment" name="experiment" type="text" class="validate">
                        <label for="experiment">Experiment Name</label>
                    </div>
                </div>
                <!--Name Input End-->

                {% comment %} <!--Comments Input-->
                <div class="row">
                    <div class="input-field col l5 offset-l3">
                        <textarea id="comments" name="comments" class="materialize-textarea" data-length="350"></textarea>
                        <label for="comments">Comments</label>
                    </div>
                </div>
                <!--Comments Input End--> {% endcomment %}

                <!--File Uploader-->
                <div class="row">
                    <div class="col l6 offset-l3">
                        <div class="file-field input-field">
                            <div class="btn blue lighten-1">
                                <span>csv/bz</span>
                                <input type="file" id="csvFile" name="csvFile" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one or more csv">
                            </div>
                        </div>
                    </div>                        
                </div>
                <!--File Uploader End-->

                <!--File Uploader-->
                <div class="row">
                    <div class="col l6 offset-l3">
                        <div class="file-field input-field">
                            <div class="btn blue lighten-1">
                                <span>coordenates</span>
                                <input type="file" id="csvCoordenates" name="csvCoordenates">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Coordenates csv">
                            </div>
                        </div>
                    </div>                        
                </div>
                <!--File Uploader End-->                

                <div class="row">        
                    <div class="input-field col l5 offset-l3">
                        <label>
                            <input type="checkbox" class="filled-in" id="includeTotal" name="includeTotal"/>
                            <span>Include total row</span>
                        </label>
                    </div>
                </div>

                <!--File Uploader-->
                <div class="row">
                    <div class="col l6 offset-l3">
                        <div class="file-field input-field">
                            <div class="btn blue lighten-1">
                                <span>Color Palette (CSV)</span>
                                <input type="file" id="colorPalette" name="colorPalette">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one csv with a column of colors">
                            </div>
                        </div>
                    </div>                        
                </div>
                <!--File Uploader End-->


                <div class="row">
                    <div class="center">
                        <button class="btn waves-effect waves-light pink darken-1" type="submit" name="action">
                            Generate Charts
                            <i class="material-icons right" aria-hidden="true">insert_chart</i>
                        </button>
                    </div>
                </div>

                <!--File Uploader-->
                <div class="row">
                    <div class="col l6 offset-l3">
                        <div class="file-field input-field">
                            <div class="btn blue lighten-1">
                                <span>csv</span>
                                <input type="file" id="compareCharts" name="compareCharts" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="csv to compare">
                            </div>
                        </div>
                    </div>                        
                </div>
                <!--File Uploader End-->

                <div class="row">
                    <div class="center">
                        <button class="btn waves-effect waves-light purple darken-1" type="submit" name="compare_charts">
                            Compare Charts
                            <i class="material-icons right" aria-hidden="true">insert_chart</i>
                        </button>
                    </div>
                </div>                    
            </form>
            <!--Form End-->
        </div>       
    
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    </body>
</html>